# Build output
SteamToolsLua.exe
SteamToolsLua_v*.exe
*.spec
build_temp/
build/
__pycache__/
*.pyc

# Executables
*.exe

# Tokens / secrets
tokens/
.github_token
bot/codes/

# Discord bot secrets
bot/codes/

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp / junk
PROJE_DURUMU_VE_YAPI.txt
/SteamToolsLua.py
!bypass/SteamToolsLua.py
SUMMARY.md
_extract_cmds.txt

# SteamDB ve diğer önbellek dosyalarını engelle
*cache*
cache/
temp/